# **TITLE**

### Introduction

### Method

### Discussion

In [1]:
library(tidyverse)
library(tidymodels)
library(dplyr)
library(RColorBrewer)
set.seed(42)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.6     ✔ rsample      1.2.1
✔ dials        1.3.0     ✔ tune         1.1.2
✔ infer        1.0.7     ✔ workflows    1.1.4
✔ modeldata    1.4.0     ✔ workflowsets 1.0.1
✔ parsnip      1.2.1     ✔ yardstick    1.3.1
✔ recipes      1.1.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Search for functions across packages at https://www.tidymodels.org/find/

In [2]:
players_url <- read_csv("https://raw.githubusercontent.com/emma-chow/DSCI-Final-Project/70bbf2c6fcb0a1fd395c3b650eb82c00067f8953/players.csv")
head(players_url)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

In [3]:
players_missing <- players_url |> 
    sapply(function(x) sum(is.na(x)))
players_missing

  experience    subscribe  hashedEmail played_hours         name       gender
           0            0            0            0            0            0
         Age
           2

In [4]:
players_data <- players_url |>
    drop_na()
glimpse(players_data)

Rows: 194
Columns: 7
$ experience   <chr> "Pro", "Veteran", "Veteran", "Amateur", "Regular", "Amate…
$ subscribe    <lgl> TRUE, TRUE, FALSE, TRUE, TRUE, TRUE, TRUE, FALSE, TRUE, T…
$ hashedEmail  <chr> "f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8…
$ played_hours <dbl> 30.3, 3.8, 0.0, 0.7, 0.1, 0.0, 0.0, 0.0, 0.1, 0.0, 1.6, 0…
$ name         <chr> "Morgan", "Christian", "Blake", "Flora", "Kylie", "Adrian…
$ gender       <chr> "Male", "Male", "Male", "Female", "Male", "Female", "Fema…
$ Age          <dbl> 9, 17, 17, 21, 21, 17, 19, 21, 17, 22, 23, 17, 25, 22, 17…

In [5]:
players_summary <- players_data |>
    summary()
players_summary

  experience        subscribe       hashedEmail         played_hours
 Length:194         Mode :logical   Length:194         Min.   :  0.000
 Class :character   FALSE:52        Class :character   1st Qu.:  0.000
 Mode  :character   TRUE :142       Mode  :character   Median :  0.100
                                                       Mean   :  5.905
                                                       3rd Qu.:  0.600
                                                       Max.   :223.100
     name              gender               Age
 Length:194         Length:194         Min.   : 8.00
 Class :character   Class :character   1st Qu.:17.00
 Mode  :character   Mode  :character   Median :19.00
                                       Mean   :20.52
                                       3rd Qu.:22.00
                                       Max.   :50.00

In [6]:
players_hours_stats <- players_data |>
    summarise(played_hours_min = min(played_hours), played_hours_mean = mean(played_hours), played_hours_median = median(played_hours), played_hours_max = max(played_hours))
players_hours_stats

  played_hours_min played_hours_mean played_hours_median played_hours_max
1 0                5.904639          0.1                 223.1

In [7]:
players <- players_data |>
select(subscribe, Age, played_hours)
head(players)

  subscribe Age played_hours
1  TRUE      9  30.3
2  TRUE     17   3.8
3 FALSE     17   0.0
4  TRUE     21   0.7
5  TRUE     21   0.1
6  TRUE     17   0.0

In [8]:
players_engagement <- players |>
mutate(engagement_level = factor((played_hours >= 50) + (played_hours >= 10), 
    levels = c(0, 1, 2), 
    labels = c("Low", "Medium", "High")))
head(players_engagement)

  subscribe Age played_hours engagement_level
1  TRUE      9  30.3         Medium
2  TRUE     17   3.8         Low
3 FALSE     17   0.0         Low
4  TRUE     21   0.7         Low
5  TRUE     21   0.1         Low
6  TRUE     17   0.0         Low

In [9]:
players_split <- initial_split(players_engagement, prop = 0.70, strata = engagement_level)  
players_train <- training(players_split)
players_test <- testing(players_split)

head(players_train)
head(players_test)

  subscribe Age played_hours engagement_level
1  TRUE      9  30.3         Medium
2  TRUE     17   3.8         Low
3 FALSE     17   0.0         Low
4  TRUE     21   0.7         Low
5  TRUE     21   0.1         Low
6  TRUE     17   0.0         Low

  subscribe Age played_hours engagement_level
1  TRUE     19  0.0          Low
2 FALSE     21  0.0          Low
3  TRUE     22  0.0          Low
4  TRUE     23  1.6          Low
5  TRUE     17  0.0          Low
6  TRUE     17  0.5          Low

In [14]:
players_vfold <- vfold_cv(players_train, v = 5, strata = engagement_level)